<article class="flex space-x-2">
  <div class="flex flex-col">
    <div class="text-gray-500 translate-y-2 text-sm font-normal uppercase text-center">{{ date | formatDate: "MMM" }}</div>
    <div class="h-8 tracking-tighter -translate-y-1 text-3xl font-normal text-center">{{ date | formatDate: "DD" }}</div>
    <div class="text-gray-500 -translate-y-1 tracking-tighter text-base font-normal text-center">{{ date | formatDate: "YYYY" }}</div>
  </div>

  <div class="p-2 flex flex-col justify-center">
    <div class="text-lg sm:text-xl leading-8 font-black align-middle uppercase">
      <a class="text-custom-link hover:bg-gray-800" href="{{ url }}">
        {{ title }}
      </a>
    </div>
    <div class="text-sm sm:text-base font-normal -translate-y-1">
      {{ subtitle }}
    </div>
  </div>
</article>