<a href="{{ project.url }}" class="flex flex-col max-w-96 h-auto rounded-lg overflow-hidden border border-t border-gray-200
  hover:shadow-xl hover:border-gray-100 hover:cursor-pointer group">
  
  <!-- type -->
  <div class="flex justify-center gap-1 bg-gray-200 p-3 h-4 items-center">
    <i class="{{ typeIcon }} fa-xs text-gray-600"></i>
    <p class=" text-gray-500 text-xs font-bold uppercase">
      {{ typeName }}
    </p>
  </div>

  <!-- image -->
  <img class="aspect-[90/65] transition-opacity group-hover:opacity-60" src="{{ project.data.cover }}">
  
  <!-- info -->
  <div class="flex p-2 pl-3 gap-3 items-center">
    <div class="">
      <div class="text-xl">{{project.data.title}}</div>
      <div class="flex gap-4">
        <p class="text-gray-700 text-sm">
          {{ project.date | formatDate: "MMMM YYYY" }}
        </p>
        <div class="flex gap-1">
          <div class="flex items-center">
            <img class="w-4 h-4" src="{{ companyIcon }}"/>
          </div>
          <p class="text-gray-700 text-sm">
            {{ companyName }}
          </p>
        </div>
      </div>
    </div>
  </div>
</a>