<!doctype html>
<html lang="en">

<head>
  <title>{{ title }}</title>

  <meta name="description" content="{{ settings.site.description }}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="/style.css" type="text/css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@800&display=swap" rel="stylesheet"> 

  
  {% if env.production %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XEVEL0SWTQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XEVEL0SWTQ');
  </script>
  {% endif %}

</head>

<body class="text-custom-white bg-custom-black p-8">

  <div class="flex flex-col items-center overflow-x-hidden">
    <div class="text-center">
      <div class="text-custom-1 text-5xl sm:text-6xl font-title leading-10 uppercase">Games Right Meow</div>
      <div id="tagline" class="text-custom-1 text-xs sm:text-sm lowercase translate-y-1 hover:underline hover:cursor-pointer">Proin elementum leo orci, in interdum augue sollicitudin sed.</div>
    </div>

    <nav class="mt-4 w-192 divide-y divide-gray-500">
      <!-- border -->
      <div></div>

      <nav class="flex justify-center">
        <div class="flex space-x-4 justify-center">
          {% for item in settings.navigation %}
          <a class="text-custom-link hover:bg-gray-800 text-base sm:text-lg font-semibold lowercase" href="{{ item.url }}">{{ item.name }}</a>
          {% endfor %}
          <a href="/feed.xml" class="flex justify-center hover:bg-gray-800">
            <img alt="RSS feed" class="text-custom-link" width="13" height="13" src="/media/rss.svg"/>
          </a>
        </div>
      </nav>
      
      <!-- border -->
      <div></div>
    </nav>
  </div>

  <div>
    {{ content }}
  </div>

  <script type="application/javascript">
    function randomize() {
      // this is weird, but the most straight forward way i could 
      // figure out how to get template data into javascript
      let options = "{{ settings.taglines | join: ';' }}"
      let optionsArray = options.split(";")
      let index = Math.floor(Math.random() * optionsArray.length)
      let tagElement = document.getElementById("tagline")
      tagElement.textContent = optionsArray[index]
    }

    let tagElement = document.getElementById("tagline")
    tagElement.onclick = randomize

    randomize()
  </script>

</body>

</html>