---
layout: root
---

<!-- explore card -->
{% render "explore-card" settings: settings, showHome: true %}

<!-- header card -->
<div class="flex flex-col w-full h-auto rounded-lg overflow-hidden border border-t border-gray-200 p-4 gap-2">
  <div class="mb-2">
    <div class="text-gray-900 font-bold text-3xl">{{ title }}</div>
    <div class="flex flex-col gap-1">
      <p class="text-gray-700 text-sm">{{ date | formatDate: "dddd, MMMM DD, YYYY" }}</p>
      {% if company %}
      <div class="flex gap-1">
        <div class="flex flex-col justify-center">
          <img class="w-4 h-4" src="{{ settings.companies[company].icon }}"/>
        </div>
        <p class="text-gray-700 text-sm">{{ settings.companies[company].name }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="flex flex-col w-full h-auto rounded-lg overflow-hidden border border-t border-gray-200 p-4 gap-2">
  {% if media and media.size > 0 %}
  <div id="default-carousel" class="w-full">
    <!-- Carousel -->
    <div id="js-carousel">
      {% for media in media %}
        {% if media contains "/" %}
          <!-- image -->
          <div class="hidden h-full">
            <img src="{{ media }}" class="w-full object-cover h-full">
          </div>
        {% else %}
          <!-- video -->
          <iframe width="560" height="315"
            class="hidden aspect-video w-full h-48 md:h-128 lg:h-160 opac"
            src="https://www.youtube.com/embed/{{ media }}" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% endif %}
      {% endfor %}
    </div>
    <!-- carousel controls -->
    <div class="flex items-center justify-center pt-4 md:pt-6 md:pb-2 gap-1 md:gap-2">
      <button id="js-carousel-prev" class="md:scale-150 text-custom-link hover:text-custom-link-hover">
        <i class="fa-solid fa-caret-left fa-2xl"></i>
      </button>
      <div id="js-carousel-pages" class="flex md:gap-2">
      {% for media in media %}
        <i class="fa-solid fa-circle scale-50 md:scale-75 text-zinc-600"></i>
      {% endfor %}
      </div>
      <button id="js-carousel-next" class="md:scale-150 text-custom-link hover:text-custom-link-hover">
        <i class="fa-solid fa-caret-right fa-2xl"></i>
      </button>
    </div>
  </div>
  {% elsif cover %}
  <div class="h-full">
    <img src="{{ cover }}" class="w-full object-cover h-full">
  </div>
  {% endif %}
</div>

<div class="flex flex-col w-full h-auto rounded-lg overflow-hidden border border-t border-gray-200 p-4 gap-2">
  <!-- content -->
  <div class="flex flex-col p-4 pt-0 gap-2 ">
    <main class="
    max-w-full
      pt-0 max-w-prose:w-full
      prose text-sm md:text-base
      prose-h2:text-xl prose-h2:m-0
      marker:text-gray-800
      prose-code:px-1 prose-code:text-gray-500 prose-code:font-mono prose-code:bg-gray-200 prose-code:font-thin prose-code:before:hidden prose-code:after:hidden
      prose-pre:text-base
      prose-tr:divide-x prose-tr:border-gray-500
      prose-blockquote:text-custom-white prose-blockquote:font-mono
      prose-a:text-custom-link prose-a:font-bold prose-a:no-underline hover:prose-a:underline hover:prose-a:text-custom-link-hover
    ">
      {{ content }}
    </main>
  </div>
</div>


<script>
  let pageDisabledClass = "opacity-30";

  let carousel = window.document.getElementById('js-carousel');
  let carouselPages = window.document.getElementById('js-carousel-pages');
  let carouselNext = window.document.getElementById('js-carousel-next');
  let carouselPrev = window.document.getElementById('js-carousel-prev');

  // put carousel into starting state
  let carouselIndex = 0
  carousel.children[0].classList.remove("hidden");
  for (let i = 1; i < carouselPages.children.length; i++) {
    carouselPages.children[i].classList.add(pageDisabledClass);
  }

  // handle button clicks
  
  carouselPrev.addEventListener("click", (e) => {
    e.stopImmediatePropagation()
    carouselPages.children[carouselIndex].classList.add(pageDisabledClass);
    carousel.children[carouselIndex].classList.add("hidden");

    carouselIndex--;
    if (carouselIndex < 0) {
      carouselIndex = 0;
    }

    carouselPages.children[carouselIndex].classList.remove(pageDisabledClass);
    carousel.children[carouselIndex].classList.remove("hidden");
  });

  carouselNext.addEventListener("click", (e) => {
    e.stopImmediatePropagation()
    carouselPages.children[carouselIndex].classList.add(pageDisabledClass);
    carousel.children[carouselIndex].classList.add("hidden");

    carouselIndex++;
    if (carouselIndex > carouselPages.children.length - 1) {
      carouselIndex = carouselPages.children.length - 1;
    }

    carouselPages.children[carouselIndex].classList.remove(pageDisabledClass);
    carousel.children[carouselIndex].classList.remove("hidden");
  });
</script>