---
title: Who is Alex Larioza?!
layout: root
---

<!-- container -->
<div class="flex justify-center">
  <div class="flex flex-col max-w-7xl items-center p-4 gap-4">

    <!-- bio card -->
    <div class="w-full max-w-full h-auto flex flex-col sm:flex-row">
      <div class="h-96 sm:h-auto sm:w-48 flex-none bg-cover rounded-t-lg sm:rounded-t-none sm:rounded-tl-lg sm:rounded-bl-lg text-center overflow-hidden" style="background-image: url('{{ settings.mugshot }}')">
      </div>
      <div class="border border-t border-gray-200 bg-white rounded-b-lg sm:rounded-b-none sm:rounded-tr-lg p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <div class="text-gray-900 font-bold text-3xl mb-2">{{ settings.name }}</div>
          <p class="text-gray-700 text-base">{{ settings.description }}</p>
        </div>
        
        <div class="w-full flex items-center">
          {% for social in settings.social %}
          <a title="{{ social[0] }}" href="{{ social[2] }}" class="pr-4 text-custom-link hover:text-custom-link-hover">
            <i class="{{ social[1] }} fa-xl"></i>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- project cards-->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {%- for project in collections.projects reversed -%}
      <!-- card -->
      <a href="{{ project.url }}" class="flex flex-col max-w-96 h-auto rounded-lg overflow-hidden border border-t border-gray-200
        hover:shadow-xl hover:border-gray-100 hover:cursor-pointer">
        <!-- image -->
        <img class="aspect-[90/65]" src="{{ project.data.cover }}">
        <!-- info -->
        <div class="flex p-2 pl-3 gap-2">
          <div class="flex flex-col justify-center">
            <img class="w-10" src="{{ settings.companies[project.data.company].icon }}"/>
          </div>
          <div class="">
            <div class="text-xl">{{project.data.title}}</div>
            <p class="text-gray-700 text-sm">
              {{ project.date | formatDate: "MMMM YYYY" }}
            </p>
          </div>
        </div>
        <!-- type -->
        <!--<div class="m-2 flex flex-row justify-end">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">game</span>
        </div>-->
      </a>
    {%- endfor -%}
    </div>

  </div>
</div>
